<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!-- 下划线转驼峰命名 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <!-- 设置别名 -->
    <typeAliases>
<!--        <typeAlias type="com.qfedu.entity.User" alias="user"></typeAlias>-->
<!--        <typeAlias type="com.qfedu.entity.Trade" alias="trade"></typeAlias>-->
        <!-- 用于指定要配置别名的包，当指定之后，该包下的实体类都会注册别名，并且类名就是别名，不再区分大小写-->
        <package name="com.qfedu.entity"></package>
    </typeAliases>




</configuration>